{% extends 'portfolioApp/base.html' %}

{% load static %}

{% block contents %}

<section class="home_section">

   <!---
    <div class="wrk_in_progress">
        <h1>🏗️ This Page is Under Construction, please check out another page 🏗️</h1>
        <p>😎✨ Hey there! Emmibrill is cooking up something awesome. This page is under construction — check back soon! 🚀</p>
    </div>
    --->

    <div class="home_intro">
        <div class="home_card">
            <div class="welcome_card">
                
                <div>
                    <canvas id="card-hello"></canvas>
                    <p>Welcome to my portfolio</p>
                </div>
                
                
            </div>

            <div class="explore_card">
                <!-- Canvas element where the Lottie animation will be rendered -->
                <canvas id="canvas"></canvas>

                <div class="home_img">
                    <img src="{% static 'images/brills-avatar.png' %}" alt="">
                </div>

                <p>Emmibrill Udo</p>
                <p>Civil Engineer & Software Engineer</p>
                <p>welcome to my website! I bet you're wondering what you're gonna find</p>

                <div class="home_btn-con">
                    <a class="home_intro-btn" href="{% url 'projects' %}">explore</a>
                    <!--<button class="home_intro-btn">explore</button>-->
                </div>
            </div>

            

        </div>
    </div>

</section>

{% endblock %}

{% block extra_scripts %}
<script type="module">
      import { DotLottie } from "https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web/+esm";

      new DotLottie({
        autoplay: true,
        loop: true,
        canvas: document.getElementById("canvas"),
        src: "https://lottie.host/3f0b9512-d4c4-4a96-b704-54e194622e1c/cELYdP2VdC.lottie", // or .json file
      });
</script>
<script type="module">
      import { DotLottie } from "https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web/+esm";

      new DotLottie({
        autoplay: true,
        loop: true,
        canvas: document.getElementById("card-hello"),
        src: "https://lottie.host/697f918b-2615-48c9-aac1-0f0d81bc2a5e/PaHl4CIR25.lottie", // or .json file
      });
    </script>

{% endblock %}
