{% extends 'portfolioApp/base.html' %}

{% load static %}

{% block contents %}

<section class="home_section">

   <!---
    <div class="wrk_in_progress">
        <h1>🏗️ This Page is Under Construction, please check out another page 🏗️</h1>
        <p>😎✨ Hey there! Emmibrill is cooking up something awesome. This page is under construction — check back soon! 🚀</p>
    </div>
    --->

    <div class="home_intro">
        <div class="home_card">
            <div class="welcome_card">
                <div>
                    <h1>Hi! Welcome</h1>
                    <p>He is definitely gonna satisfy you. Send him that message</p>
                </div>
                
            </div>

            <div class="explore_card">
                    <img src="https://i.pravatar.cc/150?img=2" alt="">
                    <p>Emmibrill Udo</p>
                    <p>Civil Engineer & Software Engineer</p>
                    <p>welcome to my website! I bet you're wondering what you're gonna find</p>

                    <button class="home_intro-btn">explore</button>
                </div>

            

        </div>
    </div>

</section>

{% endblock %}
