{% extends "portfolioApp/base.html" %} {% load static %} {% block contents %}

<section class="services" id="services">
  
  <h1 class="service_head">my services</h1>

  <div class="all_services"></div>
  
</section>

{% endblock %} {% block extra_scripts %}

<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

<script>
  ScrollReveal({
    reset: true,
    distance: "3rem",
    duration: 1200,
    easing: "ease-in-out",
    mobile: true,
    cleanup: true,
    viewFactor: 0.2,
  });

  ScrollReveal().reveal(".all_services .service_con", {
    delay: 150,
    origin: "bottom",
    interval: 150,
  });
  /*ScrollReveal().reveal('.tools_card', { delay: 150, origin: '', interval: 150, scale: .3});*/
</script>

{% endblock %}
